.menu {
    display: flex;
    align-items:center;
    position: relative;
    border-bottom:1px solid #dfdfdf;  
}
.menu nav > ul {
    display: flex;
    padding:0;
    margin:0;
    height:50px;
}
.menu nav > ul li {
    display: flex;
    align-items:center;
    list-style-type: none;
    padding: 0 20px 0 0;
    position: relative;
}
.menu nav > ul li a {
    text-decoration: none;
    color:#000;
    font-size: 1.25vw;
}
.menu nav > ul li:hover .submenu {
    display: block;
}

.menu .submenu {
    display:none;
    position: absolute;
    background: rgba(0,0,0,0.9);
    width:200px;
    padding:10px;
    z-index: 1;
    border-radius:10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    top:40px;
}
.menu .submenu li {
    padding:5px;
}
.menu .submenu li a {
    color:#fff;
}
.menu .submenu li a:hover {
    text-decoration: underline;
}
.menu form input {
    border-radius:4px;
    border:1px solid #dcdcdc;
    outline:0;
    padding:5px;
}
.menu form button {
    border:none;
    background: none;
    outline:0;
    cursor:pointer;
}
.menu img {
    position: absolute;
    right:20px;
    bottom:-5px;
}